.item {
  background-color: #fff;
  border: 1px solid #e8e8e8;
  margin-bottom: 1.2rem;
  padding: 1.2rem;
}

.item__message {
  font-style: italic;
  font-size: 1.3rem;
  text-align: center;
  font-weight: 300;
}
